@use '~reset-css/sass/reset';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Inter', 'Montserrat', sans-serif;
}

.noscroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  touch-action: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Inter', sans-serif;
}
b {
  font-weight: 600;
}
